
* 

  box-sizing: border-box;
}

table {
   margin: 0px auto;  
}



body {
width:100%
margin: 0; 
padding: 0; 
font-family: 'Trebuchet MS',verdana;
background: url("/img/BG1.jpg");
background-size: cover;
background-position: center; 
background-repeat: repeat;


}

.main {
	
height: 80px;
background-color: green;

}


#wrapper {

padding-top:20px;
margin: 0px auto;  

}

h1 {

width: 90px;
height: 40px;
text-align: center;
border: 1px solid black;
border-radius: 30px;
width: 200px;
margin-left: auto;
margin-right: auto;
display: block;
background: black;
color: white;
position: absolute;
padding-top: 5px;
}

.logout {
    
position:fixed;
 right:30px;
width: 90px;
height: 40px;
text-align: center;
border: 1px solid black;
border-radius: 20px;
width: 100px;
margin-left: auto;
margin-right: auto;
display: block;
background: black;
color: white;
position: absolute;
padding-top: 5px;
cursor: pointer;

}



.save_button1 {
	display: none;
} 

/* .hidden {
	display: none;
} */

/*.hide {
	display: none;
  } */
  
/* media queries */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}
